<div id="LHSMenu" class="LHSMenu">
  <div class="LHSPadding" style="">
    <div style="">
      <a href="#" id="MenuHide" onclick="showhide4('LHSMenu')"><img src="" alt="close" /></a>
    </div>

    <div>
      <a id="lnkMenuWood" class="LHSMenuBold" href="">The Design</a>
    </div>

    <div>
      <a id="lnkMenuGrey" class="LHSMenu" href="">Wood</a>
    </div>

    <div>
      <a id="lnkMenuMid" class="LHSMenu" href="">Stone</a>
    </div>

    <div>
      <a id="lnkMenuWarm" class="LHSMenu" href="">Others</a>
    </div>

    <div>
      <a id="lnkMenuStone" class="LHSMenuBold" href="">The Collection</a>
    </div>

    <div>
      <a id="lnkMenuLight" class="LHSMenu" href="">Decorigid PRESTG</a>
    </div>

    <div>
      <a id="lnkMenuDark" class="LHSMenu" href="">Dryback PRESTG</a>
    </div>

    <div>
      <a id="lnkMenuTheCollection" class="LHSMenuBold" href="">Decolay</a>
    </div>

    <div>
      <a id="lnkMenuResInspiration" class="LHSMenuBold" href="">Decotile</a>
    </div>

    <div>
      <a id="lnkMenuResInspiration" class="LHSMenuBold" href="">Homogeneous</a>
    </div>


    <div>
      <a id="lnkMenuLVT" class="LHSMenuBold" href="">Download Center</a>
    </div>

    <div>
      <a id="lnkMenuFeatures" class="LHSMenu" href="">Installation Guideline</a>
    </div>

    <div>
      <a id="lnkMenuSuitability" class="LHSMenu" href="">Technical Data Sheet</a>
    </div>

    <div>
      <a id="lnkMenuEco" class="LHSMenu" href="">Warranties</a>
    </div>

    <div>
      <a id="lnkMenuInstall" class="LHSMenu" href="">UPEC</a>
    </div>


    <div>
      <a id="lnkMenuFeatureStrips" class="LHSMenuBold"
        href="javascript:__doPostBack(&#39;ctl00$lnkMenuFeatureStrips&#39;,&#39;&#39;)">Our Story</a>
    </div>

    <div>
      <a id="lnkMenuSuitability" class="LHSMenu" href="">About LG</a>
    </div>

    <div>
      <a id="lnkMenuEco" class="LHSMenu" href="">Sustainability</a>
    </div>

    <div>
      <a id="lnkMenuInstall" class="LHSMenu" href="">Eco Friendly</a>
    </div>


    <div>
      <a id="lnkMenuFindRetailer" class="LHSMenuBold" href="">Contact</a>
    </div>

    <div>
      <a id="lnkMenuInstall" class="LHSMenu" href="">Contact us</a>
    </div>

  </div>
</div>