<html>

<head>
  <!-- head -->
  <%- include('../include/head.html') -%>
  <!-- //head -->
</head>

<body>
  <!-- header -->
  <%- include('../include/header.html') -%>
  <!-- //header -->

  <!-- container -->
  <div id="container">
    <!-- contents -->
    <div class="contents">
      <!-- Start Page Content -->


      <!-- //End Page Content -->
    </div>
    <!-- //contents -->
  </div>
  <!-- //container -->

  <!-- footer -->
  <%- include('../include/footer.html') -%>
  <!-- //footer -->

  <script type="text/javascript">
    //페이지 제어 스크립트
  </script>
</body>

</html>